@font-face {
    font-family: Graphik LC Web;
    src: url(fonts/graphiklcweb_medium.ttf); 
   }

body {
  font-family: Graphik LC Web;
  margin: 0px;
  scroll-behavior: smooth;
}

header{
  display: block;
  position: relative;
  background: url(images/Rectangle961.png);
  background-size: cover;
  width: 100%;
  height: 42vw;
  max-height: 548px;
  left: 0px;
  top: 0px;
}
.header_top{
  margin: 0 3%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.fixed{
  position: fixed;
  color: #252627;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 2% 0 1% 0;
  z-index: 101;
}
.logo{
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
}
.logo>img{
  width: auto;
  height: auto;
}
.name{
  display: inline-flex;
  position: relative;
  margin-left: 10px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.045em;
  padding-top: 12px;
}
.name_fixed{
  color: #1E5AAF;
}
.arrow_down{
  display: inline-block;
  margin-left: 8px;
  background-image: url(images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  color: white;
}


.arrow_up{
  display: inline-block;
  margin-left: 8px;
  background-image: url(images/arrow_up.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  color: white;

}
.arrow_down_fixed{
  display: inline-block;
  margin-left: 8px;
  background-image: url(images/arrow_down2.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  color: #252627;
}
.arrow_up_fixed{
  display: inline-block;
  margin-left: 8px;
  background-image: url(images/arrow_up2.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  color: #252627;
}


nav.menu{
  display: inline-block;
  position: relative;
  z-index: 2;
}
nav.menu>ul{
  margin: 10px;
  padding-left: 5vw;
  display: inline-flex;
}
nav.menu>ul>li{
  display: inline-block;
  position: relative;
  font-size: 1em;
  line-height: 1em;
  padding-right: 15px;
  top: 2px;
  font-weight: lighter;
  cursor: pointer;
}


#for-doctor-menu, #for-patient-menu, #about-nzt-menu{ 
  display: none;
}

.for-doctor-menu, .for-patient-menu, .about-nzt-menu, .drop_down {
  display: inline-grid !important;
  grid-template-columns: auto auto auto;
  left: 0;
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: fixed;
  padding-top: 1.5em;
}

.drop_down{
  color: white;
  padding-bottom: 1em;
  background-color: #353b45;
}
.drop_down_fixed{
  color: #252627;
  background-color: white;
}
.drop_down>li{
  padding: 1em 50px;
}
.verification {
  display: inline-block;
  position: relative;
  font-weight: 400;
  line-height: 18px;
  border-style: solid;
  border-color: rgb(223, 0, 80);
  border-width: 2px;
  border-radius: 50px;
  padding: 1vw 1.5vw;
  text-align: center;
}
.verification_fixed{
  color: #DF0050;
}
.purchase{
  display: inline-block;
  position: relative;
  font-weight: 400;
  padding: 1.3vw 1.5vw;
  border-radius: 50px;
  background-color: white;
  color: #252627;
  margin-left: 10px;
  text-align: center;
}
.purchase_fixed{
  background-color: #0F57BE;
  color: white;
}
.header-right{
  position: relative;
  top: -5px;
  font-weight: lighter;
  display: inline-flex;
  font-size: 1em;
  height: 3.7vw;
}
.header-left_fixed{
  margin-left: 3%;
}
.header-right_fixed{
  margin-right: 3%;
}

.header-left{
  display: inline-flex;
  margin-bottom: 10px;
}

.search{
  position: relative;
  top: -0.1em;
}
.search>img{
  width: 1.1em;
}
h1 {
  position: absolute;
  top: 35%;
  font-size: 4.3vw;
  left: 3%;
  line-height: 4.8vw;
  font-weight: lighter;
  color: white;
}
.about_button{
  position: absolute;
  left: 3%;
  top: 85%;
  font-weight: 500;
  font-size: 1em;
  color: white;
}
.arrow_right{
  display: inline-block;
  background: url(images/arrow_right.png);
  background-size: contain;
  margin-left: 8px;
  width: 0.5vw;
  height: 0.8vw;
  position: relative;
  top: 1px;
}
.menu2>ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  padding: 2.5vw 0 5vw;
  font-size: 1em;
  margin: 0;
}
.menu2>ul>li{
  list-style-type: none;
  border-top: 1px solid #DADCE7;
  padding: 20px 0px;
  width: 28vw;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  color: #252627;

}
.arrow_right2{
  display: inline-block;
  background: url(images/arrow_right.png);
  background-size: cover;
  margin-left: 8px;
  width: 8px;
  height: 12px;
  position: relative;
  top: 1px;
}
.arrow_right3{
  display: inline-block;
  background: url(images/arrow_right2.png);
  background-size: cover;
  margin-left: 8px;
  width: 8px;
  height: 12px;
  position: relative;
  top: 1px;
}
main{
  margin: 0 3vw;
}
section.about{
  max-width: 46vw;
  margin-bottom: 7vw;
}
h2{
  color: #1E5AAF;
  font-size: 2.7vw;
  margin: 1vw 0;
  padding-bottom: 1vw;
}
.about_content{
  color: #797A84;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 140%;

}
.about_content>p{
  margin: 1.5vw 0px;
}
section.cards{
  display: flex;
  margin-bottom: 7vw;
  color: white;
}
section.cards>ul{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
section.cards>ul>li{
  list-style-type: none;
  background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 100%, rgba(9, 46, 98, 0.3) 0%), linear-gradient(0deg, rgba(65, 124, 209, 0.3) 100%, rgba(9, 46, 98, 0.3) 0%), #1E5AAF;
  box-shadow: 0px 0px 10px rgba(6, 31, 67, 0.3);
  border-radius: 5px;
  width: 18%;
  padding: 2.5vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;

}
section.cards>ul>li:after{
  opacity: 0;
  background: linear-gradient(180deg, rgba(9, 46, 98, 0.8) 0%, rgba(65, 124, 209, 0.8) 100%), linear-gradient(180deg, rgba(9, 46, 98, 0.3) 0%, rgba(65, 124, 209, 0.3) 100%), #1E5AAF;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}
section.cards>ul>li:hover:after{
  opacity: 1;
  border-radius: 5px;
}

h3{
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding-bottom: 1.6vw;
  font-size: 1.85vw;
  z-index: 2;
}
.cards_content{
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 140%;
  color: rgba(253, 253, 253, 0.5);
  height: 100%;
  min-height: 20vw;
  z-index: 2;
}
.arrow{
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
.reviews{
  margin-bottom: 7vw;

}
.reviews_scrollbox{
  overflow: hidden;
  white-space: nowrap;
}
.reviews_scrollbox>ul{
  margin: 0;
  padding: 0;
}
.reviews_scrollbox>ul>li{
  display: inline-block;
}
.review{
  display: inline-flex;
  width: 100%;
  border-radius: 5px;
  color: #FDFDFD;
  scroll-snap-align: start;
  background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 100%, rgba(9, 46, 98, 0.3) 0%), #1E5AAF;
  position: relative;
}

.arrows{
  width: 5vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
}
.review_left{
  width: 65%;
  z-index: 2;
}
.review_left>img{
  height:100%;
  width: 100%;
}
.review_right{
  background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 100%, rgba(9, 46, 98, 0.3) 0%), #1E5AAF;
  border-radius: 0px 5px 5px 0px;
  width: 28%;
  white-space: normal;
  padding: 4vw;
  position: relative;
}
.review:after{
  content: '';
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 1s;
  background: linear-gradient(180deg, rgba(9, 46, 98, 0.8) 0%, rgba(65, 124, 209, 0.8) 100%), linear-gradient(0deg, rgba(9, 46, 98, 0.3) 0%, rgba(65, 124, 209, 0.3) 100%), #1E5AAF;
  border-radius: 5px;
}
.review:hover:after {
  opacity: 1;
  border-radius: 5px;
}
.review_content{
  padding-bottom: 1vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75vw;
  line-height: 140%;
  z-index: 2;
  position: relative;
}
.review_date{
  color: #8EA9D0;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vw;
  padding-bottom: 2.5vw;
  z-index: 2;
  position: relative;
}
.about_button2{
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  z-index: 2;
  position: relative;
}
.opinions>h2{
  font-style: normal;
  font-weight: 500;
  font-size: 2.8vw;
  line-height: 130%;
  color: #252627;
}
h4{
  font-weight: 500;
  font-size: 1vw;
  line-height: 1vw;
  text-align: right;
  color: #1E5AAF;
  display: inline-flex;
  margin: 0px;
}
.opinions_container>ul{
  list-style-type: none;
  margin: 0;
  display: inherit;
}
.opinion{
  background: linear-gradient(0deg, rgba(65, 124, 209, 0.3) 100%, rgba(9, 46, 98, 0.3) 0%), #1E5AAF;
  box-shadow: 0px 0px 10px rgba(6, 31, 67, 0.3);
  border-radius: 5px;
  width: 50vw;
  padding: 4vw 7vw;
  margin-right: 30px;
  white-space: normal;
  justify-content: space-between;
  display: grid;
  position: relative;
}
.opinion:after{
  background: linear-gradient(180deg, rgba(9, 46, 98, 0.8) 0%, rgba(65, 124, 209, 0.8) 100%), linear-gradient(0deg, rgba(9, 46, 98, 0.3) 0%, rgba(65, 124, 209, 0.3) 100%), #1E5AAF;
  content: '';
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 1s;
  border-radius: 5px;

}
.opinion:hover:after {
    opacity: 1;
    border-radius: 5px;
}
.arrows2{
  width: 5vw;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 2vw;
}
.opinions_top{
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.specialist{
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.specialist_name{
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-bottom: 1.5vw;
  z-index: 2;
  position: relative;
}
.specialist_about{
  color: #557EB8;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 130%;
  max-width: 35vw;
  margin-bottom: 4vw;
  z-index: 2;
  position: relative;
}
.specialist_opinion{
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 140%;
  color: #9FB7DB;
  margin-bottom: 3vw;
  z-index: 2;
  position: relative;
}
.opinion_video{
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.opinion_video_button{
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 0.9em;
  color: #FFFFFF;
  z-index: 2;
  position: relative;
}
.opinions_scrollbox{
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
  margin-bottom: 7vw;
  scrollbar-width: none;

}
.opinions_container{
  margin-right: 3vw;
  display: inline-flex;
  scroll-snap-align: start;
  width: 100%;
}
footer{
  background-color: #051A2C;
  padding: 3vw;
}
footer>h3{
  font-weight: 400;
  font-size: 1.5em;
  line-height: 120%;
  color: white;
}
.footer_bottom{
  font-weight: 400;
  font-size: 0.9em;
  line-height: 0.9em;
  display: grid;
  color: #8C8D98;
  grid-template-columns: 1fr auto auto;
  justify-content: space-between;
  grid-column-gap: 2vw;
}
.btn{
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: 1.2vw;
}
.icon {
  display: none;
}
.fa{
  color: white;
}

.opinions_container>ul{
  padding: 0;
}
/*.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/

@media (min-width: 1800px){
  h1{
    top:27%;
  }
}
@media (min-device-width:1201px) and (-webkit-max-device-pixel-ratio: 1),
    (min-device-width: 1201px) and (max--moz-device-pixel-ratio: 1),
    (min-device-width: 1201px) and (-o-max-device-pixel-ratio: 1),
    (min-device-width: 1201px) and (-ms-max-device-pixel-ratio: 1),
    (min-device-width: 1201px) and (max-device-pixel-ratio: 1){
      .name{
        padding-top: 0.4em;
      }
      .header-right{
        height: 3.5em;
        font-size: 1em;
      }
      nav.menu{
        font-size: 1em;
      }
      .verification{
        padding: 1em 1.5em;
        line-height: 1em;
      }
      .purchase{
        padding: 1em 1.5em;
        line-height: 1.3em;
      }
      .review_content{
        font-size: 1.4em;
      }
      .about_button2{
        1.1em;
      }
      .review_date{
        0.9em;
      }
}
@media (min-device-width: 901px) and (max-device-width:1200px) and (max-device-pixel-ratio:2),
    (min-device-width: 901px) and (max-device-width:1200px) and (-webkit-max-device-pixel-ratio:2),
    (min-device-width: 901px) and (max-device-width:1200px) and (max--moz-device-pixel-ratio:2),
    (min-device-width: 901px) and (max-device-width:1200px) and (-o-max-device-pixel-ratio:2),
    (min-device-width: 901px) and (max-device-width:1200px) and (-ms-max-device-pixel-ratio:2){
      .header_top{
        
      }
      .header-right{
        height: auto;
      }
      nav.menu>ul{
        padding-left: 0;
        
      }
      nav.menu>ul>li{
        font-size: 0.9em;
      }
      nav.menu:last-child{
        padding: 0;
      }
      .drop_down{
        padding-top: 1em;
        margin-top: 0.5em;
        background: #232b37;
      }
      .drop_down_fixed{
        background: white;
      }
      .for-doctor-menu,.for-patient-menu,.about-nzt-menu{
        z-index: 2;
      }
      .header-right{
        font-size: 0.9em;
      }
      .purchase{
        align-content: center;
        display: grid;
      }
      section.about {
        max-width: 100%;
      }
      h3{
        font-size: 1.3em;
      }
      .cards_content{
        font-size: 0.8em;
      }
      h4{
        font-size: 1em;
      }
      .opinions_container{
        display: flex;
        margin-right: 0;
      }
      .opinions_container>ul{
        display: inline-flex;
      }
      .opinion{
        border-radius: 10px;
        width: 80vw;
        margin-right: 0;
      }
      .specialist_name{
        font-size: 1.8em;
      }
      .specialist_about{
        max-width: auto;
        font-size: 1.2em;

      }
      .specialist_photo{
        width: 8em;
      }
      .specialist_opinion{
        font-size: 1.7em;
      }
      .opinion_video_button{
        font-size: 1.3em;
      }
      .opinion_video>div.arrow_right{
        width: 0.6em;
        height: 1em;
      }
      footer>h3{
        font-size: 1.3em;
      }
      .footer_bottom{
        font-size: 0.8em;
        grid-template-columns: 2fr auto auto;
      }
}
@media (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2),
    (max-device-width: 900px) and (min--moz-device-pixel-ratio: 2),
    (max-device-width: 900px) and (-o-min-device-pixel-ratio: 2)
    (max-device-width: 900px) and (-ms-min-device-pixel-ratio: 2),
    (max-device-width: 900px) and (min-device-pixel-ratio: 2){
      .header_top{
        display: flex;
      }
      .name{
        padding-top: 0.4em;
      }
      .purchase{
        align-content: center;
        display: grid;
      }
      .verification{
        align-content: center;
        display: grid;
        width: 10em;
      }
      .header-right{
        font-size: 0.9em;
      }
      .opinions_container{
        display: flex;
        margin-right: 0;
      }
      .opinions_container>ul{
        display: inline-flex;
      }
      .opinion{
        border-radius: 10px;
        width: 80vw;
        margin-right: 30px;
      }
      .specialist_name{
        font-size: 1.8em;
      }
      .specialist_about{
        max-width: 100%;
        font-size: 1em;

      }
      .specialist_photo>img{
        width: 7em;
      }
      .specialist_opinion{
        font-size: 1.4em;
        margin-bottom: 3em;
      }
      .opinion_video_button{
        font-size: 1.1em;
      }
      .opinion_video>div.arrow_right{
        width: 0.6em;
        height: 1em;
      }
      .arrow_down, .arrow_up, .arrow_down_fixed, .arrow_up_fixed{
        background-size: 0.7em;
        padding-right: 1em;
        margin: 0;
      }
      nav.menu>ul{
        padding-left: 1em;
      }
    }

@media (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2.5),
    (max-device-width: 800px) and (min--moz-device-pixel-ratio: 2.5),
    (max-device-width: 800px) and (-o-min-device-pixel-ratio: 2.5)
    (max-device-width: 800px) and (-ms-min-device-pixel-ratio: 2.5),
    (max-device-width: 800px) and (min-device-pixel-ratio: 2.5),
    (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2),
    (max-device-width: 600px) and (min--moz-device-pixel-ratio: 2),
    (max-device-width: 600px) and (-o-min-device-pixel-ratio: 2),
    (max-device-width: 600px) and (-ms-min-device-pixel-ratio: 2),
    (max-device-width: 600px) and (min-device-pixel-ratio: 2){
      header{
        height: 40em;
      }
      .header_top{
        display: grid;
        height: 11em;
      }
      .hamburger>li {
        display: none !important;
      }
      a.icon{
        display: block !important;
        float: right;
        position: absolute;
        right: 3%;
        font-size: 7vw;
        z-index: 3;

      }
      .hamburger.responsive {
        position: relative;
        display: grid;
        background: #252627;
        margin: 0px;
        padding: 7em 0 0;
        z-index: 5;
      }
      .hamburger.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
        .hamburger.responsive>li {
        float: none;
        display: block !important;
        text-align: left;
        font-size: 4vw;
        line-height: 9vw;
        padding: 0 0 0 3%;
      }

       nav.menu{
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
      }
      .for-doctor-menu, .for-patient-menu, .about-nzt-menu, .drop_down{
        display: none;
        padding-top: 0;
      }
      .drop_down{
        grid-template-columns: auto;
        z-index: 6;
        grid-template-columns: auto;
        padding: 0;
        position: relative;
        padding-left: 1em;
      }
      .drop_down_fixed{
        background: white;
      }
      .drop_down>li{
        padding: 0.5em 1em 0;
        font-size: 0.9em;
      }
      #for-doctor-menu, #for-patient-menu, #about-nzt-menu, #drop_down{
        position: relative;
        text-decoration: none;
      }
      .arrow_down, .arrow_up, .arrow_down_fixed, .arrow_up_fixed{
        background-size: 0.7em;
        padding-right: 1em;
        margin: 0;
      }
      .logo{
        width: 7vw;
        height: 7vw;
        z-index: 3;
      }
      .name{
        font-size: 5vw;
        z-index: 3;
      }
      .fixed{

      }
      .fa_fixed{
        color: #1E5AAF;
      }
      .header-right{
        width: 100%;
        font-size: 2em;
        line-height: 2em;
        height: 2.5em;
        margin-top: 0.5em;
      }
      .header-right_fixed{
        left: 3%;
      }
      .hamburger_fixed{
        background: white !important;
      }
      .purchase{
        align-content: center;
        display: grid;
        padding: 0.5em 1.5em;
      }
      .verification{
        align-content: center;
        display: grid;
        padding: 0.5em 1.5em;
        width: 100%;
      }
      h1{
        top: 2.2em;
        font-size: 5em;
        line-height: 1.1em;
      }
      .about_button{
        font-size: 2em;
      }
      .arrow_right{
        width: 0.4em;
        height: 0.7em;
      }
      section.about{
        max-width: 100%;
      }
      .menu2>ul{
        grid-template-columns: auto;
        font-size: 2em;
        line-height: 2em;
      }
      .menu2>ul>li{
        width: 100%;
        border-top: 2px solid #DADCE7;
      }
      .arrow_right3{
        width: 0.4em;
        height: 0.7em;
        top: 0.2em;
      }
      h2{
        font-size: 3em;
      }
      .about_content{
        font-size: 2em;
      }
      section.cards{
        margin-bottom: 5em;
        z-index: 1;
        position: relative;
      }
      section.cards>ul{
        display: grid;
      }
      section.cards>ul>li{
        width: auto;
        margin-bottom: 2em;
        border-radius: 10px;
      }
      h3{
        font-size: 3em;
      }
      .cards_content {
        font-size: 2em;
      }
      .arrow>div.arrow_right2{
        width: 0.8em;
        height: 1.4em;
      }
      .reviews{
        margin-bottom: 6em;
      }
      .reviews_scrollbox{
        overflow-x: scroll;
        scrollbar-width: none;
        border-radius: 10px;
      }
      .review{
        display: grid;
        height: 51em;
      }
      .review_left{
        width: auto;
        height: auto;
        border-radius: 0 0 10px 10px;
      }
      .review_left>img{
        border-radius: 0 0 10px 10px;
      }
      .review_right{
        width: auto;
        height: 11em;
        padding: 2em;
        border-radius: 10px 10px 0 0;
      }
      .review_left:nth-of-type(1) {
        order: 2;
      }
    
      .review_right:nth-of-type(2) {
        order: 1;
      }
      .review_content{
        font-size: 1.7em;
      }
      .review_date{
        font-size: 1.3em;
        margin-top: 0.3em;
      }
      .about_button2{
        font-size: 1.5em;
      }
      .arrows{
        width: 7em;
      }
      .btn>img{
        width: 2em;
      }
      .opinions>h2{
        font-size: 2.5em;
        margin-bottom: 1em;
      }
      h4{
        font-size: 1.8em;
        line-height: 2em;
      }
      .opinions_container{
        display: flex;
        margin-right: 0;
      }
      .opinions_container>ul{
        display: inline-flex;
      }
      .opinion{
        border-radius: 10px;
        width: 80vw;
        margin-right: 30px;
      }
      .specialist_name{
        font-size: 1.8em;
      }
      .specialist_about{
        max-width: 100%;
        font-size: 1.2em;

      }
      .specialist_photo{
        width: 8em;
      }
      .specialist_opinion{
        font-size: 1.7em;
      }
      .opinion_video_button{
        font-size: 1.3em;
      }
      .opinion_video>div.arrow_right{
        width: 0.6em;
        height: 1em;
      }
      footer>h3{
        font-size: 2em;
      }
      .footer_bottom{
        font-size: 1.5em;
        line-height: 2.5em;
        grid-template-columns: auto;

      }
    }